<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
    <testsuite name="D:\projects\Simple-Silex-Blog-Backend\tests" tests="15" assertions="17" errors="0" failures="1"
               skipped="0" time="0.426559">
        <testsuite name="Tests\Api\v1\User\UserShowActionTest"
                   file="D:\projects\Simple-Silex-Blog-Backend\tests\Api\v1\User\UserShowActionTest.php" tests="2"
                   assertions="2" errors="0" failures="1" skipped="0" time="0.133350">
            <testcase name="testShowNotValidUser" class="Tests\Api\v1\User\UserShowActionTest"
                      classname="Tests.Api.v1.User.UserShowActionTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Api\v1\User\UserShowActionTest.php" line="9"
                      assertions="1" time="0.102157">
                <failure type="PHPUnit\Framework\ExpectationFailedException">
                    Tests\Api\v1\User\UserShowActionTest::testShowNotValidUser
                    Failed asserting that 200 matches expected 404.

                    D:\projects\Simple-Silex-Blog-Backend\tests\Api\v1\User\UserShowActionTest.php:15
                </failure>
            </testcase>
            <testcase name="testShowValidUser" class="Tests\Api\v1\User\UserShowActionTest"
                      classname="Tests.Api.v1.User.UserShowActionTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Api\v1\User\UserShowActionTest.php" line="18"
                      assertions="1" time="0.031193"/>
        </testsuite>
        <testsuite name="Unit\Configuration\ConfigurationTest"
                   file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ConfigurationTest.php" tests="3"
                   assertions="5" errors="0" failures="0" skipped="0" time="0.007292">
            <testcase name="testConfiguration" class="Unit\Configuration\ConfigurationTest"
                      classname="Unit.Configuration.ConfigurationTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ConfigurationTest.php"
                      line="20" assertions="3" time="0.002759"/>
            <testcase name="testConfigurationOffsetSet" class="Unit\Configuration\ConfigurationTest"
                      classname="Unit.Configuration.ConfigurationTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ConfigurationTest.php"
                      line="29" assertions="1" time="0.002512"/>
            <testcase name="testConfigurationOffsetUnset" class="Unit\Configuration\ConfigurationTest"
                      classname="Unit.Configuration.ConfigurationTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ConfigurationTest.php"
                      line="38" assertions="1" time="0.002021"/>
        </testsuite>
        <testsuite name="Unit\Configuration\ResolversTest"
                   file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ResolversTest.php" tests="5"
                   assertions="5" errors="0" failures="0" skipped="0" time="0.211702">
            <testcase name="testEnvironmentResolverConfig" class="Unit\Configuration\ResolversTest"
                      classname="Unit.Configuration.ResolversTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ResolversTest.php" line="33"
                      assertions="1" time="0.065610"/>
            <testcase name="testParameterResolverConfig" class="Unit\Configuration\ResolversTest"
                      classname="Unit.Configuration.ResolversTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ResolversTest.php" line="42"
                      assertions="1" time="0.042275"/>
            <testcase name="testAbstractResolverAddResourceConfig" class="Unit\Configuration\ResolversTest"
                      classname="Unit.Configuration.ResolversTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ResolversTest.php" line="49"
                      assertions="1" time="0.033637"/>
            <testcase name="testAbstractResolverAddCollectionConfig" class="Unit\Configuration\ResolversTest"
                      classname="Unit.Configuration.ResolversTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ResolversTest.php" line="58"
                      assertions="1" time="0.038172"/>
            <testcase name="testAbstractResolverGetResourcesConfig" class="Unit\Configuration\ResolversTest"
                      classname="Unit.Configuration.ResolversTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\ResolversTest.php" line="67"
                      assertions="1" time="0.032008"/>
        </testsuite>
        <testsuite name="Unit\Configuration\YamlFileLoaderTest"
                   file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\YamlFileLoaderTest.php"
                   tests="5" assertions="5" errors="0" failures="0" skipped="0" time="0.074216">
            <testcase name="testLoadValidYamlConfig" class="Unit\Configuration\YamlFileLoaderTest"
                      classname="Unit.Configuration.YamlFileLoaderTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\YamlFileLoaderTest.php"
                      line="19" assertions="1" time="0.042649"/>
            <testcase name="testLoadEmptyYamlConfig" class="Unit\Configuration\YamlFileLoaderTest"
                      classname="Unit.Configuration.YamlFileLoaderTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\YamlFileLoaderTest.php"
                      line="30" assertions="1" time="0.003887"/>
            <testcase name="testLoadInValidYamlConfig" class="Unit\Configuration\YamlFileLoaderTest"
                      classname="Unit.Configuration.YamlFileLoaderTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\YamlFileLoaderTest.php"
                      line="40" assertions="1" time="0.013227"/>
            <testcase name="testLoadInValidImportsYamlConfig" class="Unit\Configuration\YamlFileLoaderTest"
                      classname="Unit.Configuration.YamlFileLoaderTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\YamlFileLoaderTest.php"
                      line="50" assertions="1" time="0.006343"/>
            <testcase name="testLoadInValidImportsResourcesYamlConfig" class="Unit\Configuration\YamlFileLoaderTest"
                      classname="Unit.Configuration.YamlFileLoaderTest"
                      file="D:\projects\Simple-Silex-Blog-Backend\tests\Unit\Configuration\YamlFileLoaderTest.php"
                      line="60" assertions="1" time="0.008110"/>
        </testsuite>
    </testsuite>
</testsuites>
